/* about */

.about {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  
  }
  .about img {
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
    object-position: top;
  }
  
  .about-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 600px;
  }
  
  .contact{
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }

  @media (min-width: 799px){
    .about{
      padding: 5rem;
      display: flex;
    }

    .about img{
      max-height: 700px;
    }
  }