a{
    text-decoration: none;
     /* color: rgb(50, 50, 50);  */
     color: #181A1B;
    transition: all .3s ease;
}

a:hover{
    color: rgba(99,88,238,1);
    transition: all .3s ease;
}

.cta{
    padding: .7rem 1.3rem;
    position: relative;
    /* background-color: #E82A93; */
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
/* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);  */

    color: white;
    border: none;

    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 5px;
    display: inline-block;
    transition: all .3s ease;
    z-index: 1;
}

.cta:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

