:root {
  --mainColor: #3c55cc;
  --bgColor: #f5f6fa;
  --white: #fff;
  --light: #d9def2;
  --grey: #515674;
  --dark: #141a34;
  --boxShadow: rgba(0, 0, 0, 0.05) 0px 4px 16px,
    rgba(0, 0, 0, 0.05) 0px 8px 32px;
}
