@media (min-width: 768px) {
  .card img {
    height: 540px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    max-width: 700px;
  }

  /* navbar */
  .navbar-center {
    padding: 0 4rem;
  }

  .nav-links {
    gap: 4rem;
  }

  /* hero */
  .hero {
    max-width: 1200px;
  }

  .hero-container {
    flex-direction: row;
  }

  .hero-container img {
    max-width: 40%;
  }

  .hero p {
    font-size: 2rem;
    max-width: 600px;
  }

  /* my projects */
  .section-title {
    font-size: 2rem;
  }

  .project-container {
    gap: 5rem;
    width: 90vw;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .card {
    width: unset;
    max-width: unset;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    gap: 3rem;
    padding: 2rem;
    text-align: left;
  }

  .card img {
    width: 450px;
    height: 500px;
  }

  .text-box {
    align-items: unset;
    text-align: unset;
    max-width: 520px;
  }

  /* footer */
  footer {
    padding: 4rem;
    max-width: 1200px;
  }

  .footer-container {
    flex-direction: row;
    gap: 4rem;
  }
}
