@import 'import/links.css';
@import "import/animations.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}



body {
/* LIGHT */
 /* background: rgb(252,254,239);
background: radial-gradient(circle, rgba(252,254,239,1) 6%, rgba(238,238,203,1) 81%, rgba(219,214,168,1) 100%);  */
 /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);   */


/* DARK */
/* background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );   */
 /* background-color: #181A1B;  */
 background-color: #fffbf1; 

  /* color: rgb(50, 50, 50);  */
   /* color: linen;  */
   color: #181A1B;
   font-family: 'Poppins', sans-serif;
}


/* navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 80px;
  width: 100%;
  /* background-color: #181A1B;  */
  background-color: #fffbf1; 
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.logo{
  max-width: 70px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  width: 100%;
}

.nav-links li {
  list-style: none;
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top:7rem;
  min-height: 70vh;
  width: 90vw;
  max-width: 550px;
  margin: 0 auto;
}


/* my projects */
.section-title {
  font-size: 1.5rem;
  text-align: center;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90vw;
  /* background-color: #2b2b2b;  */
  background-color: #fffefb; 
  padding: 2rem 1rem;
  border-radius: 10px;
  max-width: 550px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card img {
  width: 80vw;
  max-width: 490px;
height: 350px;
  object-fit: cover;
  object-position: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
}

.card-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* footer */
footer, .footer-message, .footer-container{
  display: flex;
  flex-direction: column;
}
footer {
  width: 90vw;
  max-width: 550px;
  margin: 0 auto;
  gap: 2rem;
  background-color: transparent;
  margin-top: 4rem;
}

.footer-message{
  align-items: flex-start;
  gap: .5rem;
}

.footer-container {
  gap: 2rem;
  padding: 2rem 0;
}

