@import "import/navbar.css";
@import "import/hero.css";
@import "import/projects.css";
@import "import/links.css";
@import "import/animations.css";
@import "import/variables.css";
@import "import/footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgColor);
  color: var(--dark);
  font-family: "Poppins", sans-serif;
}
